[flake8]
max-line-length = 120
extend-ignore = E203, W503, E302
exclude =
    .git,
    __pycache__,
    build,
    dist,
    releases,
    .venv,
    venv,
    .tox,
    .mypy_cache,
    .pytest_cache,
    .vscode,
    .coverage
per-file-ignores =
    __init__.py:F401
    */assets/world_bank_assets.py:F401
; max-complexity = 20
; ignore-docstrings = True
; statistics = True
; count = True
; show-source = True
