dagster>=1.9.10
dagster-graphql>=1.9.10
clickhouse-connect>=0.8.15
python-dotenv>=1.0.1
pydantic>=2.10.6
requests>=2.32.0
pandas>=2.2.2
sqlalchemy~=2.0.37
PyYAML>=6.0
fastapi>=0.95.0
uvicorn>=0.34.0
httpx>=0.28.0
